.board .col {
  border: 10px solid blue;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[id*="chip-"] {
  width: 70px;
  height: 70px;
  border-radius: 70px;
}

.row {
  margin-bottom: 0 !important;
}

#reset {
  font-size: 20px;
  margin-top: 30px;
}
.rest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#quit {
  margin-top: 30px;
}
.press {
  font-size: 20px !important;
}
.wtl {
  font-size: 40px;
  text-align: center;
}
body {
  background-color: #bbdefb;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 80px !important;
  margin-bottom: 80px !important;
}

.press:hover::after {
  content: "...sore loser" !important;
}

.clickRow .col {
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.clickRow .col > div {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: 20px;
}

.clickRow .col:hover > div {
  background-color: red;
}
